html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  background: linear-gradient(rgb(36 40 74 / 80%), rgb(63 56 58 / 83%)),
    url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.glass-card {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(115 126 147 / 56%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.pointer {
  cursor: pointer;
}

.header-shadow {
  box-shadow: 3px 2px 20px 2px rgb(0 0 0 / 75%);
}

.footer-shadow {
  box-shadow: -20px 4px 20px 3px rgb(0 0 0 / 75%);
}

.list-group-bg {
  background-color: #180e0eb5;
}

.bio-text {
  color: #4f301a;
}

.repo-name {
  color: #7eb8ff;
}

@media only screen and (max-width: 500px) {
  .label-font {
    font-size: 0.9rem;
  }
}
